---
// Works.astro
import BrandsCarousel from '../BrandsCarousel.astro';

interface WorkItem {
  brand: string;
  name: string;
  slide: string;
}

interface Props {
  title?: string;
  works?: WorkItem[];
  carouselTitle?: string;
  carouselDuration?: number;
}

// Default works data - will be replaced by CMS data
const defaultWorks: WorkItem[] = [
  { brand: 'P&G', name: 'Collision', slide: 'Collision' },
  { brand: 'P&G', name: 'First-Time Fresh', slide: 'First-Time Fresh' },
  { brand: 'Dehnco', name: 'The Most Classic Design', slide: 'The Most Classic Design' },
  { brand: 'Arrow Electronics', name: 'The Speed of Arrow', slide: 'The Speed of Arrow' },
  { brand: 'Dole Packaged Foods', name: 'Dolemates', slide: 'Dolemates' },
  { brand: 'Max Pawn Luxury', name: 'We Know Real', slide: 'We Know Real' },
  { brand: 'EZ Pawn', name: "You Won't Believe It", slide: "You Won't Believe It" },
];

const {
  title = 'See how we flow',
  works = defaultWorks,
  carouselTitle = 'Our expertise flows across CPG, B2B and retail.',
  carouselDuration = 40,
} = Astro.props;
---

<section id="work" class="works">  
  <div class="logo logo--vertical">
    <img src="/logo-hot-lava-gradient.svg" alt="Hot Lava">
  </div>
  <div class="wrapper">
    <div class="container works__container">
      <h3 class="title">
        <span class="asterisk">*</span>{title}
      </h3>
      
      <div class="works__list">
        {works.map((work) => (
          <div class="work">
            <div class="work__item js-work" data-slide={work.slide}>
              {work.brand && <span class="brand">{work.brand}</span>}
              <div class="name">
                <p>{work.name}</p>
              </div>
            </div>
          </div>
        ))}
      </div>

      <div class="works__images">
        <!-- Work images will be loaded dynamically -->
      </div>
    </div>
  </div>

  <div class="container logos">
    <BrandsCarousel 
      title={carouselTitle}
      duration={carouselDuration}
    />
  </div>
</section>

<script>
  import { initParallax } from '../../scripts/utils/parallax.js';

  initParallax('.works .logo', {
    speed: 1  
  });
</script>
